.margin-percent-5 {
  margin-top: 5%;
}

.container-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

input.home-input-search {
  &:focus {
    border: 1px solid #00b1cc !important;
  }

  &::-webkit-input-placeholder {
    color: lighten(#aaa, 15%);
  }
}

.button-search {
  width: 50px;
}

.search-menu {
  display: none;
  flex-direction: column;
  border-bottom: thin solid #d9d9d9;
  position: relative;
  z-index: 2;
}

.search-menu.active {
  display: flex;
}

.search-menu .top-menu {
  background: #eaeaea;
  margin-top: 1px;
  padding: 0.3rem;
  position: relative;
  text-align: right;
}

.search-menu .top-menu::before {
  border-color: transparent transparent #eaeaea;
  border-style: solid;
  border-width: 0 15px 20px;
  content: " ";
  height: 0;
  left: 49%;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 2;
}

.search-menu .top-menu .text {
  color: #9e9e9e;
  font-size: 15px;
  margin-right: 19%;
}

.search-menu .search-menu-wrapper {
  background-color: #fff;
}

.search-menu .search-menu-container {
  display: flex;
  padding: 2rem 0;
  margin: auto;
  width: 62%;
}

.search-menu .search-menu-container h4 {
  color: #616161;
  text-align: center;
  width: 100%;
}

.search-menu .search-menu-container .search-menu-categories {
  border-right: 2px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 4;
}

.search-menu .search-menu-container .search-menu-items {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  flex: 12;
  justify-content: flex-end;
}

.search-menu .search-menu-container .search-menu-categories a {
  border-right: 2px solid transparent;
  color: #a3a2a2;
  display: block;
  padding: 0.6rem 0;
  text-align: left;
  text-decoration: none;
  transition: 0.5s ease;
  width: 175px;
}

.search-menu .search-menu-container .search-menu-categories a:hover {
  background-color: #e5f5f8 !important;
  border-right: 2px solid #35afc6 !important;
  color: #00c1cc;
}

.search-menu .search-menu-container .search-menu-items .search-item {
  margin: 2% 0 2% 9%;
  max-width: 150px;
  text-align: right;
  transition: 0.5s ease;
  cursor: pointer;

  &:hover .search-product-name,
  &:hover .search-product-image {
    color: #00b1cc;
    border-bottom-color: lighten(#00b1cc, 35%);
  }
}

.search-menu .search-menu-container .search-menu-items .search-item .search-product-image {
  max-width: 90%;
  padding: 0.7em;
  border-bottom: 2px solid lighten(#aaa, 30%);
  margin-bottom: 0.2em;
}

.search-menu .search-menu-container .search-menu-items .search-item .search-product-name {
  color: #a3a2a2;
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

.search-menu .pagination-wrapper {
  margin-right: -7px;
  text-align: right;
  width: 100%;
}

@media (min-width: 1620px) {
  .search-menu .search-menu-container {
    width: 50%;
  }

  .search-menu .top-menu .text {
    margin-right: 25%;
  }
}

@media (max-width: 1440px) {
  .search-menu .search-menu-container {
    width: 60%;
  }

  .search-menu .top-menu .text {
    margin-right: 20%;
  }
}

@media (max-width: 1100px) {
  .search-menu .search-menu-container {
    width: 80%;
  }

  .search-menu .search-menu-container .search-menu-categories {
    flex: 2;
  }

  .search-menu .search-menu-container .search-menu-items {
    flex: 5;
  }

  .search-menu .top-menu .text {
    margin-right: 10%;
  }
}

@media (max-width: 900px) {
  .search-menu .search-menu-container {
    width: 90%;
  }

  .search-menu .search-menu-container .search-menu-categories {
    flex: 2;
  }

  .search-menu .search-menu-container .search-menu-items {
    flex: 5;
    justify-content: center;
  }

  .search-menu .search-menu-container .search-menu-items .search-item {
    max-width: 30%;
    margin: 2% 5%;
  }

  .search-menu .pagination-wrapper {
    text-align: center;
  }

  .search-menu .top-menu .text {
    margin-right: 15%;
  }
}
