.list-view.offer .price-buttom {
  background: #ceeced;

  /* Old browsers */
  background: -moz-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ceeced', endColorstr='#1e5799', GradientType=1);

  /* IE6-9 */
  border: none;
  max-width: 100px;
  height: 30px;
  padding: 10px 0;
  text-align: center;
}

/* repeat code this need depuration */
.view-mobile.offer .price-buttom {
  background: #ceeced;

  /* Old browsers */
  background: -moz-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ceeced', endColorstr='#1e5799', GradientType=1);
  border: none;
}

.list-view.offer .price-buttom p,
.view-mobile.offer .price-buttom p {
  color: white !important;
}

.list-view.offer img {
  height: 70px;
}

.view-mobile.offer img {
  height: 80px;
  float: left;
  margin-left: 12px;
}

.text-margin-5 {
  margin: 0 0 5px;
  width: 100%;
  text-decoration: line-through;
  text-align: center;
}

.offer-value {
  font-size: 30px;
  color: #03baba;
  margin: 15px 0 0;
}

/* so uggly this need optimization */
.offer-value-circle {
  font-size: 14px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
  text-align: center;
  position: absolute;
  color: white;
  border-radius: 100%;
  right: -20px;
  top: -20px;
  background-color: #25dced;
}

.ResultCard.view-mobile h4 {
  margin: 0 0 10px;
}
