.pagination-inner {
  display: flex;
  justify-content: flex-end;
}

.pagination-inner li {
  display: inline;
  text-decoration: none;
  padding: 10px 15px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.pagination-inner li:hover,
.pagination-inner li:hover a {
  background: #35afc6;
  color: white !important;
}

.pagination-inner li:last-child {
  border-right: 1px solid #ddd;
}

.pagination-inner li a {
  color: #ccc;
  text-decoration: none;
}

.pagination-active a {
  color: #35afc6 !important;
}
