.top3-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top3-filter ul li {
  color: rgb(158, 158, 158);
  cursor: pointer;
  margin: 12px 0;
  font-size: 1.2rem;
}

.top3-filter ul li:first-child {
  color: #5bbbce;
  font-size: 1.6rem;
  position: relative;
}

.top3-filter ul li:first-child::after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  right: 50px;
  font-size: 2rem;
  color: #5bbbce;
  top: -5px;
}
