.modal-filter {
  position: absolute;
  top: -999px;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;

  &.active {
    top: 45px;
  }

  .content-container {
    padding: 1em;
    width: 100%;
    display: flex;
    margin: 1em 0;
  }

  .menu {
    flex: 2;
  }

  .content {
    flex: 6;
  }
}
