.postech-editor {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  margin-top: 4rem;
  width: 90%;
}

.postech-editor .postech-editor-leftside {
  text-align: center;
  width: 15%;
}

.postech-editor .postech-editor-principal {
  margin-left: 3%;
  width: 82%;
}

.postech-editor-author-info .author-name {
  font-size: 0.8rem;
  font-weight: 100;
}

.postech-editor-author-info .author-stars {
  margin: 0 auto;
  width: 35%;
}

.postech-editor-author-info .num-articles {
  font-size: 12px;
}

.postech-editor-author-info .range {
  color: #0094cc;
  font-size: 16px;
  line-height: 0;
}

.postech-editor-category-chooser h4,
.postech-editor-addicional-content h4 {
  font-size: 12px;
  text-align: left;
  font-family: 'Open sans', sans-serif;
}

.postech-editor-addicional-content button {
  background: white;
  color: #515151;
  cursor: pointer;
  width: 100%;
  outline: none;
  border: thin solid #d3d3d3;
  margin: 5px auto;
  position: relative;
}

.postech-editor-addicional-content button i {
  position: absolute;
  right: 5px;
  top: 4px;
}

.postech-editor-topbar {
  display: flex;
}

.postech-editor-topbar .postech-chips {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.postech-editor-action-buttons {
  text-align: right;
  width: 70%;
}

.line-blue-button {
  border: thin solid #0094cc;
  background: white;
  color: #0094cc;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
}

.blue-button {
  background: #0094cc;
  color: white;
  padding: 5px 20px;
  border: thin solid #0094cc;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

.postech-editor-custom-chip {
  border-radius: 0 !important;
  margin-right: 3px !important;
}

.postech-editor-title {
  margin-top: 2rem;
  width: 100% !important;
  font-size: 1.5rem !important;
}

.editor-container {
  display: block !important;
  height: 400px !important;
}

.editor-editable {
  border: 1px solid #f1f1f1;
  margin-top: -6px;
}

.select-an-image {
  background: #d3d3d3;
  padding: 4px;
  color: #515151;
  margin: 4px 0;
  position: relative;
}

.select-an-image input {
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  outline: none;
  opacity: 0;
}

.categories-list {
  height: 120px;
  overflow: auto;
  padding: 0 !important;
}

.categories-list .pte-item {
  font-size: 14px !important;
  line-height: 0 !important;
  height: 35px;
}
