.postech-container {
  margin: 0 auto;
  width: 90%;
}

.postech-container .postech-logo {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.postech-menu {
  text-align: center;
  margin-bottom: 1rem;
}

.postech-menu .menu-item,
.postech-category-section .postech-category-section-submenu .menu-item,
.postech-menu-mobile .menu-item {
  border-radius: 2px 2px 0 0 !important;
}

.postech-menu .menu-item:hover,
.postech-category-section .postech-category-section-submenu .menu-item:hover,
.postech-menu-mobile .menu-item:hover {
  background: transparent !important;
  color: rgb(38, 198, 218);
  border-bottom: 3px solid rgb(38, 198, 218) !important;
}

.postech-menu .menu-item:hover span,
.postech-category-section .postech-category-section-submenu .menu-item:hover span,
.postech-menu-mobile .menu-item:hover span {
  color: #26c6da;
}

.postech-menu .menu-item span,
.postech-category-section .postech-category-section-submenu .menu-item span,
.postech-menu-mobile .menu-item span {
  color: #a9a9a9;
  text-transform: capitalize !important;
}

.postech-container .top-post {
  position: relative;
}

.postech-container .top-post img {
  width: 100%;
}

.postech-container .top-post .top-post-title {
  color: white;
  bottom: 2%;
  left: 3%;
  font-weight: 300;
  width: 55%;
  font-size: 2rem;
  position: absolute;
}

.postech-container .top-post .top-post-link {
  border: thin solid white;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  bottom: 10%;
  padding: 0.7rem 5rem;
  position: absolute;
  text-decoration: none;
  right: 5%;
}

.postech-container .top-post .top-post-link:hover {
  background: white;
  color: #515151;
}

.postech-latest-posts {
  margin-top: 1rem;
}

.postech-post-card {
  max-width: 100%;
}

.postech-post-card .postech-post-card-header {
  padding: 0.4rem;
  position: relative;
  padding-bottom: 1rem;
}

.postech-post-card .postech-post-card-header .header-image {
  width: 100%;
}

.postech-post-card .postech-post-card-header .post-avatar {
  border: 4px solid white;
  border-radius: 50%;
  left: 7%;
  bottom: -5px;
  position: absolute;
  width: 100px;
}

.postech-post-card .postech-post-card-header .post-author {
  left: 150px;
  top: 15px;
  font-size: 1rem;
  font-weight: 300;
  display: inline;
  position: relative;
}

.postech-post-card .postech-post-card-content {
  padding: 0 1rem 1.5rem;
}

.postech-post-card .postech-post-card-content h2 a {
  font-size: 1.4rem;
  font-weight: 300;
  color: #515151;
  text-decoration: none;
}

.postech-post-card .postech-post-card-content p {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  text-align: justify;
}

.postech-post-card .postech-post-card-content .post-tags a {
  background: #ebebeb;
  padding: 0.3rem 0.4rem;
  border-radius: 15px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #515151;
}

.postech-post-card .postech-post-card-content .post-tags .post-tag {
  margin: 0.4rem 0.3rem;
}

.postech-category-section .postech-category-section-posts {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.postech-category-section .postech-category-section-posts .postech-post-card {
  margin-bottom: 2rem;
  width: 48%;
}

.postech-category-section {
  margin-top: 4rem;
}

.postech-category-section-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.postech-category-section .postech-category-section-submenu {
  margin-bottom: 4rem;
  text-align: center;
}

.postech-post-view {
  margin: 0 auto;
  margin-top: 2rem;
  width: 80%;
}

.single-post-carousel {
  margin: 0 auto;
  width: 100%;
}

.single-post-carousel img {
  width: 100%;
}

.single-post-carousel .slick-next,
.single-post-carousel .slick-prev,
.single-post-articles-carousel .slick-next,
.single-post-articles-carousel .slick-prev {
  box-shadow: none !important;
  z-index: 2;
  height: 40px;
  width: 40px;
}

.single-post-carousel .slick-next::before,
.single-post-carousel .slick-prev::before,
.single-post-articles-carousel .slick-next::before,
.single-post-articles-carousel .slick-prev::before {
  content: none;
}

.single-post-carousel .slick-arrow.slick-next {
  right: 10px;
}

.single-post-carousel .slick-arrow.slick-prev {
  left: 10px;
}

.postech-post-view-title {
  font-size: 2rem;
  font-weight: 300;
}

.postech-post-view .postech-post-view-content {
  display: flex;
  flex-direction: row;
}

.postech-post-view .post-view-left-content {
  text-align: center;
  width: 10%;
}

.post-view-social-networks-left {
  padding-top: 1rem;
}

.post-view-social-networks-left a {
  display: block;
}

.postech-post-view .post-view-primary-content {
  text-align: justify;
  padding-left: 1rem;
  box-sizing: border-box;
  width: 90%;
}

.post-view-primary-content .post-author {
  font-weight: 300;
  font-size: 1.2rem;
}

.post-view-primary-content .post-view-date {
  color: #808080;
  font-size: 0.9rem;
}

.post-view-tags {
  margin-top: 1rem;
}

.post-view-tags a {
  display: inline-block;
  text-decoration: none;
  background: #ebebeb;
  padding: 0.3rem 0.4rem;
  border-radius: 15px;
  font-size: 0.9rem;
  color: #515151;
  margin-right: 0.4rem;
}

.post-view-navigation {
  color: #d3d3d3;
  text-align: center;
}

.post-view-navigation a {
  color: #26c6da;
  padding: 0.3rem 1rem;
  text-decoration: none;
  position: relative;
}

.post-view-navigation a:first-child svg {
  left: -10px;
}

.post-view-navigation svg {
  fill: #26c6da !important;
  position: absolute;
  top: 2px;
}

.post-view-other-articles h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.single-post-articles-carousel .postech-post-card {
  margin: 0 2% !important;
  width: 96% !important;
}

.single-post-articles-carousel .slick-list {
  padding: 10px 0;
}

.postech-submenu {
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 90%;
  z-index: 3;
  left: 5%;
}

.postech-submenu .ps-nav {
  text-align: right;
  width: 28%;
}

.postech-submenu .ps-nav ul {
  list-style: none;
  border-right: 1px solid #d3d3d3;
}

.postech-submenu .ps-nav li {
  padding: 5px;
  color: rgb(158, 158, 158);
  cursor: pointer;
}

.postech-submenu .ps-content {
  text-align: center;
  width: 72%;
}

.postech-submenu .ps-content .ps-papers {
  display: flex;
  justify-content: space-evenly;
}

.postech-submenu .ps-content .ps-papers .ps-paper {
  margin: 1%;
  width: 26%;
  padding: 6px;
}

.postech-submenu .ps-content .ps-papers .ps-paper:first-child {
  margin-left: 4%;
}

.postech-submenu .ps-content img {
  display: block;
  max-width: 100%;
}

.postech-submenu .ps-content .ps-papers .ps-paper h3 {
  color: #515151;
  font-size: 0.9rem;
}

.postech-submenu .ps-all-histories {
  text-align: right;
  padding: 10px;
  padding-bottom: 13px;
  padding-right: 0;
}

.postech-submenu .ps-all-histories a {
  border: thin solid rgb(38, 198, 218);
  text-decoration: none;
  padding: 5px 17px;
  color: rgb(38, 198, 218);
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .postech-container {
    width: 90%;
  }

  .postech-post-view {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .postech-container {
    width: 95%;
  }

  .postech-post-view {
    width: 100%;
  }

  .postech-post-view .post-view-primary-content {
    padding-left: 0;
    margin: 0 auto;
    width: 90%;
  }

  .postech-post-view-header .post-author,
  .post-view-other-articles,
  .postech-post-view-header .postech-post-view-title {
    margin: 0 auto;
    width: 90%;
  }

  .post-view-social-networks-mobile {
    text-align: center;
  }

  .postech-post-view-header .post-author {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem auto;
  }

  .postech-post-view-header .post-view-navigation {
    margin: 2rem auto;
  }

  .postech-post-card .postech-post-card-header .post-author {
    left: 25%;
  }

  .postech-category-section-posts .postech-post-card-header .post-author {
    left: 40%;
  }
}

@media screen and (max-width: 640px) {
  .postech-container {
    width: 95%;
  }

  .postech-post-card .postech-post-card-header .post-author {
    left: 30%;
  }

  .postech-menu-mobile {
    margin-bottom: 1rem;
    text-align: center;
  }

  .postech-menu-mobile .menu-item {
    height: 40px !important;
  }

  .postech-menu-mobile .menu-item span {
    font-size: 18px !important;
  }

  .postech-menu-mobile .menu-item.more-items-button svg {
    margin-top: 5px;
    position: absolute;
    right: 0;
  }

  .postech-container .postech-logo {
    width: 70%;
  }

  .postech-container .top-post .top-post-title {
    left: 5%;
    width: 90%;
    font-size: 1.6rem;
    top: 0;
  }

  .postech-container .top-post .top-post-link {
    padding: 0.7rem 0;
    position: absolute;
    right: 5%;
    text-align: center;
    width: 90%;
  }

  .postech-post-card {
    box-shadow: none !important;
    display: flex;
    border-bottom: thin solid;
    margin-top: 10px;
  }

  .postech-post-card .postech-post-card-header {
    width: 60%;
  }

  .postech-post-card .postech-post-card-content {
    padding: 0 1rem 1rem;
  }

  .postech-post-card .postech-post-card-content h2 a {
    color: #515151;
    font-size: 1rem;
    text-decoration: none;
  }

  .postech-post-card .postech-post-card-content .post-author {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: -5px;
  }

  .postech-latest-posts .row {
    margin: 0 !important;
  }

  .postech-latest-posts .col-md-4:last-child .postech-post-card,
  .postech-category-section-posts .postech-post-card:last-child {
    border-bottom: none;
  }

  .postech-category-section {
    margin-top: 0 !important;
  }

  .postech-category-section-submenu {
    margin-bottom: 1rem !important;
  }

  .postech-category-section .postech-category-section-posts {
    flex-direction: column;
  }

  .postech-category-section .postech-category-section-posts .postech-post-card {
    width: 100%;
  }
}
