.SubNav {
  background-color: rgba(241, 241, 241, 0.46);
  height: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.SubNav-sections {
  margin-top: 5px;
}

.SubNav-sections span {
  color: rgb(0, 188, 212);
  font-size: 13px;
}

.social-container {
  text-align: right;
  margin-top: 5px;
}

.social-container a {
  color: #aaa;
  font-size: 18px;
  margin: 5px 15px 0;
}
