.history-card {
  position: relative;
  height: 160px;
  margin: 40px 3px;
}

.history-card.gradient1:hover .subTarget1,
.history-card.gradient1:hover .subTarget2,
.history-card.gradient1:hover .subTarget3 {
  background: rgb(254, 252, 234);

  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(254, 252, 234, 1) 0%, rgba(151, 244, 237, 0.3) 0%, rgba(237, 227, 144, 0.3) 100%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(254, 252, 234, 1) 0%, rgba(151, 244, 237, 0.3) 0%, rgba(237, 227, 144, 0.3) 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(254, 252, 234, 1) 0%, rgba(151, 244, 237, 0.3) 0%, rgba(237, 227, 144, 0.3) 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fefcea', endColorstr='#ede390', GradientType=1);
}

.history-card.gradient2:hover .subTarget1,
.history-card.gradient2:hover .subTarget2,
.history-card.gradient2:hover .subTarget3 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ca3ef+3,6de081+100&0.41+0,0.35+100 */
  background: -moz-linear-gradient(left, rgba(76, 163, 239, 0.3) 0%, rgba(76, 163, 239, 0.3) 3%, rgba(109, 224, 129, 0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(76, 163, 239, 0.3) 0%, rgba(76, 163, 239, 0.3) 3%, rgba(109, 224, 129, 0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(76, 163, 239, 0.3) 0%, rgba(76, 163, 239, 0.3) 3%, rgba(109, 224, 129, 0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximageiransform.microsoft.gradient(startColorstr='#694ca3ef', endColorstr='#596de081', GradientType=1); /* IE6-9 */
}

.history-card.gradient3:hover .subTarget1,
.history-card.gradient3:hover .subTarget2,
.history-card.gradient3:hover .subTarget3 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#75ffff+0,efbde5+100&0.52+11,0.52+86 */
  background: -moz-linear-gradient(left, rgba(117, 255, 255, 0.3) 0%, rgba(130, 248, 252, 0.3) 11%, rgba(222, 198, 233, 0.3) 86%, rgba(239, 189, 229, 0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(117, 255, 255, 0.3) 0%, rgba(130, 248, 252, 0.3) 11%, rgba(222, 198, 233, 0.3) 86%, rgba(239, 189, 229, 0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(117, 255, 255, 0.3) 0%, rgba(130, 248, 252, 0.3) 11%, rgba(222, 198, 233, 0.3) 86%, rgba(239, 189, 229, 0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8575ffff', endColorstr='#85efbde5', GradientType=1); /* IE6-9 */
}

.history-card span {
  color: #ccc;
  font-size: 13px;
}

.absolute {
  position: absolute;
}

.subTarget1 {
  top: 0;
  left: 0;
  z-index: 2;
  width: 92%;
}

.subTarget2 {
  top: -4px;
  left: 1px;
  z-index: 1;
  width: 94%;
}

.subTarget3 {
  top: -8px;
  left: 2px;
  width: 96%;
  z-index: 0;
}

.card-border {
  border: 1px solid #f1f1f1;
}

.height-200 {
  height: 160px;
}

.font-medium {
  font-size: 18px;
}

.text-color-dark {
  color: #333;
}
