.results-container .results-rows:last-child {
  margin-bottom: 6rem;
}

.t3m-leftbar .t3m-leftbuttons {
  list-style: none;
  padding: 0;
  padding-top: 6px;
}

.t3m-leftbar .t3m-leftbuttons li {
  content: "";
  cursor: pointer;
  background: #d3d3d3;
  border-radius: 50%;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 2.8rem;
  position: relative;
  width: 20px;
}

.t3m-leftbar .t3m-leftbuttons li span {
  display: block;
  background: #d3d3d3;
  position: absolute;
  height: 80px;
  left: 9px;
  width: 2px;
}

.t3m-leftbar .t3m-leftbuttons li:last-child span {
  height: 40px;
}

.t3m-leftbar .t3m-leftbuttons li:last-child::after {
  content: "\F107";
  font-family: FontAwesome;
  position: absolute;
  bottom: -43px;
  left: -1px;
  font-size: 2rem;
  color: #d3d3d3;
}

.t3m-leftbar .t3m-leftbuttons li:first-child {
  background: #00b5c8;
  height: 20px;
  width: 20px;
}

.t3m-leftbar .t3m-leftbuttons li:first-child::before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  right: -20px;
  font-size: 1.6rem;
  color: #00b5c8;
  top: -5px;
}

.t3m-leftbar .t3m-leftbuttons li:first-child::after {
  content: "";
  border-radius: 50%;
  border: 2px solid #00b5c8;
  position: absolute;
  left: -4px;
  top: -4px;
  height: 24px;
  width: 24px;
}

.t3m-leftbar .t3m-leftbuttons li:first-child span {
  top: 100%;
}
