/* need depuration */

.buy-buttom-mobile {
  background: #ceeced;

  /* Old browsers */
  background: -moz-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ceeced', endColorstr='#1e5799', GradientType=1);
  width: 70%;
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: inherit;
  bottom: 0;
  right: 0;
}

.buy-buttom-mobile span {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.buy-buttom-mobile-price {
  font-size: 16px;
  color: white;
}

@media (max-width: 100px) {
  .buy-buttom-mobile {
    width: 90px;
  }
}
