@import '../../assets/variables.scss';

.contact {
  margin: 4rem auto;
  .logo-container {
    img {
      opacity: .6;
      max-width: 100%;
    }
  }

  h3 {
    font-family: $open-sans;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 auto;
  }

  h4 {
    font-family: $open-sans;
    font-size: 1.3rem;
    font-weight: 100;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  input, textarea {
    border: thin solid $light-grey;
    border-radius: .3rem;
    box-sizing: border-box;
    color: $dark-grey;
    font-family: $open-sans;
    font-size: 1rem;
    padding: .5rem .6rem;
    width: 100%;
  }


  textarea {
    margin-top: 1rem;
    height: 100px;
  }

  button {
    margin-top: .6rem;
    margin-bottom: 2rem;
  }


}

.blue-fill-button {
  background: $primary-blue;
  border: thin solid $primary-blue;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  padding: .4rem 1rem;
  border-radius: .3rem;
  transition: all ease .4s;
}

.blue-fill-button.small {
  font-size: .9rem;
  padding: .2rem .4rem;
}

.blue-fill-button:hover {
  background: transparent;
  border: thin solid $primary-blue;
  color: $primary-blue;
}

@media screen and (max-width: 764px) {
  .contact {
    text-align: center;
    img {
      margin: -3rem auto;
      width: 70%;
    }

    input {
      margin: .5rem auto;
    }

    .blue-fill-button {
      padding: .6rem 0;
      width: 100%;
    }
  }
}
