.image-background {
  position: relative;
  margin-top: -58px;
  width: 100%;
}

.relative {
  position: relative;
}

.home-title {
  position: relative;
  z-index: 2;
  font-size: 1.6vw;
  color: #bbb;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5em;
}

.home-title span {
  color: #00b1cc;
}

.clear {
  clear: both;
}

.search-widget {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
}

.border-left {
  border-left: 1px solid #ccc;
}

.border-right {
  border-right: 1px solid #ccc;
}

.no-padding-right {
  padding-right: 0x !important;
}

.category-element {
  margin-bottom: 28px;
}
