.bg-cover {
  height: 400px;
  float: right;
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  box-sizing: border-box;
  padding: 20px 0;
}

.cover-title {
  position: absolute;
  left: 5%;
  top: 50px;
}

.cover-title h1 {
  color: #00b5c8;
}

.cover-title h2 {
  color: #ccc;
  font-weight: normal;
}

.grey-link {
  color: #aaa;
}

.background-grey {
  background-color: #f9f9f9;
}

.background-white {
  background-color: #fff;
}

.blue-title {
  color: #00b5c8;
}
