.dialog-body {
  margin-top: 20px;
}

.Price-List h3 {
  color: '#1DB7CC';
  font-size: 18px;
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-color: #d7d7d7;
  font-size: 16px;
  font-weight: bold;
  color: #d7d7d7;
}

.pagination .active {
  background-color: #00b6cc;
  color: #fff;
}

.alarm {
  background: #ceeced;

  /* Old browsers */
  background: -moz-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ceeced', endColorstr='#1e5799', GradientType=1);
  width: 70%;
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: inherit;
  bottom: 0;
  right: 0;
}

.display {
  margin-top: 10px;
}

.inline_block {
  display: flex;
  margin-bottom: 20px;
}

.block {
  width: 95%;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #d7d7d7;
  padding: 5px;
}

.percentage {
  color: #00b6cc;
  font-weight: bold;
}

.percentage h2 {
  text-align: center;
}

.button-with-arrow-down,
.sort-button {
  padding-right: 12px !important;
  border: thin solid #d3d3d3 !important;
}

.button-with-arrow-down svg {
  margin-top: 7px;
  position: absolute;
  right: 3px;
}

.sort-button {
  height: 26px !important;
  line-height: 12px !important;
}

.sort-button svg {
  margin-top: -5px;
  position: absolute;
  right: 3px;
}

.sort-button span {
  font-size: 12px !important;
}

.product-name {
  color: #515151;
}

.price-tab-paginator {
  display: inline-block !important;
  padding-left: 0;
}

.price-tab-paginator li {
  padding: 5px 7.5px !important;
}

.align-right {
  text-align: right;
}
