.price-buttom {
  width: 100px;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  border: 1.35px solid #00afcc;
}

.price-buttom p {
  color: #00afcc;
  margin: 0;
  width: 100%;
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 10px;
}

.price-buttom span {
  color: #999;
  margin: 14px 0 0;
  width: 100%;
  float: left;
  font-size: 11px;
  text-align: center;
  line-height: 0;
}

.icon-price {
  padding: 15px 10px;
}

.price-buttom:hover {
  background-color: #00afcc;
}

.price-buttom:hover p {
  color: white;
}

.price-buttom:hover span {
  color: white;
}
