.product-card {
  position: relative;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid #bdc3c7;
}

.category-footer {
  height: 34px;
  background: #eee;
  color: #bbb;
  width: 100%;
  padding-top: 6px;
  box-sizing: border-box;
}

.category-img {
  max-width: 100%;
  height: 164px;
}

.category-text {
  text-indent: 10px;
  color: #2c3e50;
  font-size: 13px;
  margin-left: 10px;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

.full-size {
  height: 100%;
  width: 100%;
}

.hoverBtn {
  background-color: rgba(17, 34, 51, 0.7);
  opacity: 0.9;
  color: white;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 3px;
  font-weight: bold;

  &:active {
    background-color: rgba(44, 62, 80, 0.7);
  }
}

.remove-link-styles a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.category-text.hover {
  color: #0ac;
}
