.our-team-header {
  background: url('../../assets/img/our-team/header.jpg') no-repeat;
  background-position: 0 -35px;
  background-size: cover;
  height: 300px;
  position: relative;
}

.our-team-header h1 {
  position: absolute;
  bottom: 5%;
  width: 40%;
  left: 30%;
  text-align: center;
  color: #616161;
}

.our-team-content {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.our-team-content h2 {
  font-family: "Open sans", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

.our-team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 80%;
}

.our-team-hero {
  margin-bottom: 2rem;
  width: 30%;
}

.our-team-hero img {
  margin: 0 auto;
  display: block;
  margin-bottom: 0.9rem;
  width: 150px;
}

.our-team-hero span {
  display: block;
}

.our-team-hero span:last-child {
  font-weight: 800;
}

@media screen and (max-width: 1024px) {
  .our-team-header h1 {
    width: 60%;
    left: 20%;
  }

  .our-team-grid {
    width: 100%;
  }
}

@media screen and (max-width: 764px) {
  .our-team-header {
    background-size: 150%;
    background-position: 50% 50%;
  }

  .our-team-header h1 {
    width: 90%;
    left: 5%;
  }

  .our-team-hero {
    width: 45%;
  }
}
