.productsheet-description {
  margin-top: 25px;
}

.productsheet-description-categories {
  text-align: right;
}

.productsheet-description-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.productsheet-description-categories li {
  text-transform: uppercase;
  font-weight: 100;
  text-align: right;
  padding: 10px 0;
  padding-right: 25px;
  cursor: pointer;
  position: relative;
}

.productsheet-description-categories li.actived,
.productsheet-description-categories li:hover {
  color: rgb(38, 198, 218);
}

.productsheet-description-categories li.actived::after,
.productsheet-description-categories li:hover::after {
  content: "";
  background: rgb(38, 198, 218);
  height: 100%;
  width: 6px;
  position: absolute;
  top: 0;
  right: -9px;
}

.productsheet-description-characteristics {
  padding-left: 2rem;
  text-align: left;
}

.productsheet-description-characteristics h3 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 100;
  padding-top: 0;
  line-height: 0;
  margin-top: 12px;
}

.productsheet-description-characteristics .characteristic {
  color: #656565;
  font-weight: 900;
  display: inline-block;
  padding: 10px;
  padding-right: 2rem;
  width: 130px;
}

.productsheet-description-characteristics .value {
  display: inline-block;
}
