.margin-percent-5 {
  margin-top: 5%;
}

.button-search {
  width: 50px;
}

.input-search-mobile {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px 0 0 10px;
  height: 33px;
  width: 100%;
  text-indent: 10px;
}

.input-search-mobile:focus {
  border: 1px solid rgb(0, 188, 212);
}

.input-search-mobile:focus {
  box-shadow: none;
  outline: none;
}

.input-focus-none:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.input-search {
  background: rgba(255, 255, 255, 0.7);
}

.mobile-menu-autocomplete {
  height: 32px !important;
}

.mobile-menu-autocomplete div:first-child {
  bottom: 2px !important;
  left: 11px !important;
}

.mobile-menu-autocomplete div:last-child {
  display: none;
}

.mobile-menu-autocomplete input {
  border: 1px solid rgb(233, 233, 233) !important;
  border-radius: 10px 0 0 10px;
  height: 32px !important;
  padding-left: 12px !important;
}

.home-input-search::-webkit-input-placeholder {
  color: rgb(158, 158, 158);
}

.home-input-search::-moz-placeholder {
  color: rgb(158, 158, 158);
}

.home-input-search:-ms-input-placeholder {
  color: rgb(158, 158, 158);
}

.home-input-search:-moz-placeholder {
  color: rgb(158, 158, 158);
}
