.sell-guide-mobile .slick-list {
  height: 70vh;
}

.sell-guide-mobile .sell-guide-dots {
  display: flex !important;
  justify-content: space-around;
}

.sell-guide-mobile .sell-guide-dots .dot {
  display: block;
  width: 18px;
  height: 18px;
  background: #d3d3d3;
  border-radius: 50%;
  transition: all ease 0.5s;
}

.sell-guide-mobile .sell-guide-dots {
  bottom: -35px !important;
}

.sell-guide-mobile .sell-guide-dots .slick-active .dot {
  background: #00b5c8;
  border: 4px solid white;
  position: relative;
  margin-top: -3px;
  margin-left: -3px;
}

.sell-guide-mobile .sell-guide-dots .slick-active .dot::after {
  content: "";
  border: 1px solid #00b5c8;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  top: -3px;
  height: 22px;
  width: 22px;
  transition: all ease .5s
}

.sell-guide-mobile h2.blue-title {
  font-size: 1.2rem;
}

.sell-guide-mobile .sell-guide-content-mobile .mobile-content {
  font-size: 0.9rem;
  height: 15vh;
  overflow: hidden;
}

.sell-guide-mobile .read-more {
  color: #a9a9a9;
}

.sell-guide-mobile .recharts-wrapper {
  width: 100% !important;
}

.sell-guide-mobile .recharts-wrapper .recharts-legend-item {
  display: block !important;
}

.sell-guide-mobile .recharts-responsive-container .sell-guide-pie-chart > svg {
  position: absolute;
  left: 55%;
}

.right-align {
  text-align: right;
}

.sell-guide-mobile .sell-guide-toggle {
  margin-top: -10px;
}

.sell-guide-mobile .sell-guide-top3 {
  background: transparent !important;
}

.sell-guide-toggle-top3 {
  position: static !important;
  margin-top: 5px;
}

.sell-guide-top3 h3 {
  font-size: 1rem;
  text-align: center;
}

.sg-top3-mobile .sg-top3-content {
  display: flex;
  margin: 10px auto;
  width: 98%;
}

.sg-top3-mobile .sg-top3-content .sg-top3-image {
  background: white;
  width: 45%;
}

.sg-top3-mobile .sg-top3-content .sg-top3-info {
  background: white;
  position: relative;
  width: 55%;
}

.sg-top3-mobile .sg-top3-content .sg-top3-image img {
  margin: 0 auto;
  height: 120px;
}

.sg-top3-mobile .sg-top3-content .sg-top3-info h2 {
  font-family: 'Open Sans';
  color: #515151;
  font-size: 1.4rem;
}

.sg-top3-mobile .sg-top3-content .sg-top3-info button {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  height: 35px;
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7dd8e9+0,35afc6+100 */
  background: #7dd8e9; /* Old browsers */
  background: -moz-linear-gradient(left, #7dd8e9 0%, #35afc6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7dd8e9 0%, #35afc6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7dd8e9 0%, #35afc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7dd8e9', endColorstr='#35afc6', GradientType=1); /* IE6-9 */
}

.sg-top3-mobile .sg-top3-content .sg-top3-info button span:first-child {
  font-weight: bold;
}

.sg-top3-mobile .sg-top3-content .sg-top3-info button span:last-child {
  font-size: 0.9rem;
}

.sell-guide-toggle-top3 button {
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .sell-guide-mobile .recharts-responsive-container .sell-guide-pie-chart > svg {
    left: 35%;
  }
}

.content-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
