.percent-bar {
  background: #e7e5e5;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 90% !important;
}

.percent-bar div:first-child {
  background: #00b5c8;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.percent-bar div:last-child {
  color: #00b5c8;
  font-size: .8rem;
  position: absolute;
  margin-left: .2rem;
  top: 2px;
  left: 100%;
  width: auto;
}
