.footer {
  min-height: 210px;
  background-color: rgb(224, 224, 224);
}

.footer-container {
  position: relative;
}

/* need to depurate */
.footer-img {
  position: absolute;
  left: calc(40% - 210px);
  top: -193px;
  transform: rotate(4deg);
  width: 210px;
}

.border-circle {
  border-radius: 50%;
  color: #aaa;
  border: 1px solid #aaa;
}

.small-margin {
  margin: 5px;
}

.social-widget {
  margin-top: 48px;
}

.social-widget span {
  font-size: 25px;
  width: 50px;
  height: 50px;
}

.social-widget h2 {
  color: #888;
  font-weight: 400;
}

.title-footer {
  color: #888;
  margin: 53px 0 0;
  font-size: 16px;
}

.list {
  padding: 0;
}

.list li {
  display: block;
  margin-bottom: 10px;
}

.list li a {
  color: #888;
  font-size: 14px;
  text-decoration: none;
}

.list li a:hover {
  color: rgb(0, 181, 200);
  text-decoration: underline;
}

.social-widget i {
  transition: 0.25s ease;
}

.instagram-hover:hover i {
  border: 1px solid #e4405f;
  color: #e4405f;
}

.facebook-hover:hover i {
  border: 1px solid #3b5999;
  color: #3b5999;
}

.google-hover:hover i {
  border: 1px solid #dd4b39;
  color: #dd4b39;
}

.linkedin-hover:hover i {
  border: 1px solid #0077b5;
  color: #0077b5;
}

.twitter-hover:hover i {
  border: 1px solid #55acee;
  color: #55acee;
}

.youtube-hover:hover i {
  border: 1px solid #cd201f;
  color: #cd201f;
}

@media (max-width: 1024px) {
  .footer-img {
    left: 62px;
  }

  .title-footer {
    margin-top: 28px;
  }

  .footer-links-container {
    width: 80%;
    margin-left: 16%;
  }

  .social-widget {
    margin-top: 28px;
  }

  .social-widget h2 {
    float: left;
    width: 50%;
  }

  .social-widget > div {
    float: left;
    margin-top: 16px;
    width: 50%;
  }
}

@media (max-width: 850px) {
  .social-widget h2 {
    float: none;
    width: 100%;
    font-weight: 400;
  }

  .social-widget h2 span {
    font-size: 24px !important;
  }

  .social-widget .br {
    display: none;
  }

  .social-widget > div {
    float: none;
    margin-top: 16px;
    width: 100%;
  }

  .footer-img {
    left: 54px;
    width: 190px;
    height: 190px;
    top: -157px;
  }

  .footer-links-container {
    margin-left: 12%;
    width: 85%;
  }
}
