.mobile-progress-bar {
  margin-top: 10px;
  margin-left: calc(100% - 40px);
  width: 40px;
  position: relative;
  height: 150px;
}

.mobile-progress-track {
  height: 100%;
  background-color: #eee;
}

.mobile-progress-fill {
  background: #ceeced;

  /* Old browsers */
  background: -moz-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ceeced 0%, #ceeced 0%, #82e8f2 11%, #82e1f2 21%, #25dced 63%, #03baba 100%, #1e5799 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ceeced', endColorstr='#1e5799', GradientType=1);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mobile-progress-fill span {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 2;
  color: white;
}
