.containerProgressBar {
  width: 100%;
  margin-top: 20px;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px 0 0;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  margin-bottom: 20px;
}

.vertical .progress-bar {
  float: left;
  height: 300px;
  width: 80px;
  border-radius: 3px;
  box-sizing: border-box;
}

.vertical .progress-track {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  box-sizing: border-box;
}

.vertical .progress-fill {
  position: relative;
  background: #5abace;
  z-index: 1;
  height: 50%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
}

.progress-fill span {
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.vertical .progress-bar-ap {
  float: left;
  height: 300px;
  width: 30px;
  z-index: 1;
  position: relative;
  margin-right: 25px;
  box-sizing: border-box;
}

.vertical .progress-ap-track {
  position: relative;
  z-index: index;
  width: 30px;
  height: 100%;
  background: #f1f1f1;
  box-sizing: border-box;
}

.vertical .progress-ap-fill {
  position: absolute;
  bottom: 0;
  background: #dedede;
  height: 50%;
  width: 30px;
  color: #fff;
  text-align: center;
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
}

.rounded .progress-track,
.rounded .progress-fill,
.rounded .progress-ap-track,
.rounded .progress-ap-fill {
  border-radius: 1px;
}

.chart-bar-contianer {
  margin-top: 40px;
}

.chart-bar-contianer {
  margin-top: 40px;
}

.progress-character {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.metric-section {
  position: absolute;
  height: 1px;
  left: 0;
  background-color: #e9e9e9;
  width: 100%;
  z-index: 0;
}

.metric-section p {
  margin: 0;
  position: absolute;
  top: -8px;
  color: #bbb;
  z-index: 1;
  padding-left: 30px;
  right: 0;
  background-color: white;
}

.section-100 {
  bottom: 100%;
}

.section-70 {
  bottom: 70%;
}

.section-35 {
  bottom: 35%;
}
