.input-range__slider {
  appearance: none;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  margin-left: -0.5rem;
  margin-top: -1rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 20px;
  height: 20px;
}

.input-range__slider:active {
  transform: scale(1.3);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(53, 175, 198, 0.21);
}

.input-range--disabled .input-range__slider {
  background: #ccc;
  border: 1px solid #ccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -2.2rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: rgba(53, 175, 198, 0.21);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 0.7rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input-range--disabled .input-range__track {
  background: #eee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #35afc6;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.input-range {
  height: 1.5rem;
  position: relative;
  width: 210px;
  margin: auto;
}
