.ResultCard {
  margin: 20px 0 20px 0;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.ResultCard img {
  height: 120px;
  max-width: 100%;
}

.ResultCard.list-view img {
  height: 70px;
  max-width: 100%;
}

.ResultCard h4 {
  font-weight: normal;
  margin: 10px 0;
  padding-bottom: 0;
  position: relative;
}

.title-grey {
  color: #949494;
}

.title-grey-strong {
  color: #666;
}

.column-divider-horizontal {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  box-sizing: border-box;
}

.column-divider-vertical-right {
  border-right: 1px solid #ddd;
}

.padding-10 {
  padding: 10px;
  box-sizing: border-box;
}

.text-indent-list {
  margin-left: 12px !important;
}

.small-font {
  font-size: 13px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-none {
  margin: 0;
}

.product-character {
  font-size: 40px;
}
