.sideBarMenu ul {
  padding: 0;
}

.sideBarMenu .nav-pills > li > a {
  border-radius: 0;
  text-align: right;
  text-transform: uppercase;
}

.sideBarMenu .nav-pills > li > a:hover {
  background-color: transparent;
  color: #35afc6;
  cursor: pointer;
}

.sideBarMenu.nav-pills > li > a.active {
  background-color: rgba(53, 175, 198, 0.13);
  color: #35afc6;
}

.mainCategoriesDrop > .nav-pills.nav-stacked {
  float: none;
  border-right: 1px solid #e6e6e6;
}

.nav-pills.nav-stacked > li {
  float: none !important;
  text-align: right;
  width: 100%;
}

.nav-pills.nav-stacked > li > a {
  border-radius: 0;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #aaa;
}

.nav-pills.nav-stacked > li.active > a,
.nav-pills.nav-stacked > li.active > a:hover {
  background-color: transparent;
  color: #35afc6;
  text-transform: uppercase;
}

.side-item {
  margin-top: 5px;
}

.side-item a {
  font-size: 12px;
  display: block;
  padding: 10px;
  color: #aaa;
  border-right: 3px solid transparent;

  &:hover {
    border-right: 3px solid #35afc6;
  }
}

.smooth-hover:hover {
  color: #35afc6 !important;
  background-color: rgba(53, 175, 198, 0.13);
}
