.login {
  transition: 2s;
}

.account a {
  color: rgb(0, 188, 212);
  text-decoration: none;
  font-size: 12px;
}

.forgot {
  text-align: right;
}

.forgot a {
  color: #aaa;
  text-decoration: none;
  text-align: right;
  font-size: 12px;
}

.hidden-login {
  margin-top: 280px;
  display: none;
}

.simple-title {
  font-weight: normal;
}

.login .containerLogin {
  background-image: url('../../assets/img/bgLogin.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.login .btn-left {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  width: 50%;
}

.login .btn-left.active {
  background-color: #35afc6;
  color: #fff;
}

.login .contentLogin {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  text-align: -webkit-center;
  background-color: #fff;
  width: 85%;
  line-height: 2em;
  margin-bottom: 8%;
  margin-top: 6%;
}

.login .btn-rigth {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 50%;
}

.btn-socialMedia.btn-facebook {
  color: #384392;
}

.btn-socialMedia.btn-facebook:hover {
  background-color: #384392;
  color: #fff;
}

.loginDivider {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  position: relative;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.loginDivider span {
  font-size: 18px;
  background-color: #fff;
  padding: 0 10px;
  position: absolute;
  top: 10px;
  left: calc(50% - 18px);
  color: #aaa;
  vertical-align: middle;
}

.inputLogin {
  border: none;
  border-bottom: 1px solid #dedede;
  line-height: 2.3em;
}

.contentInput {
  margin: 0 10px 20px 10px;
}

.btn-login {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 70%;
  margin: 7%;
  color: #35afc6;
}

.btn-login:hover {
  color: #fff;
  background-color: #35afc6;
}

a.link-login {
  float: left;
  text-decoration: none;
}

a.link-login:hover {
  text-decoration: none;
}

a.link-forgot {
  float: right;
  text-decoration: none;
  color: #d1d1d1;
}

a.link-forgot:hover {
  text-decoration: none;
}

.close-login {
  position: absolute;
  right: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #35afc6;
  text-shadow: 0 1px 0 #fff;
  margin-top: 20px;
}

.close-login:hover {
  cursor: pointer;
}

.btn-socialMedia {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  margin: 2%;
  width: 30%;
}

.btn-socialMedia.btn-google {
  color: #bf1919;
}

.btn-socialMedia.btn-google:hover {
  color: #fff;
  background-color: #bf1919;
}

