@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quando');

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quando', serif;
}

.App {
  text-align: center;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.nav-item {
  text-decoration: none;
  color: #aaa;
  margin-left: 40px;
  display: inline;
}

.nav-wrapper {
  position: absolute;
  left: 180px;
  top: 23px;
}

.buttons-wrapper {
  margin-top: 10px;
  margin-right: 10px;
}

/* flex position classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.padding-10 {
  padding-right: 12px;
}

.remove-list-style {
  display: block;
  text-decoration: none !important;
}

.small-margin-top {
  margin-top: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.negative-margin {
  margin: -5px;
}

.full-width {
  width: 100%;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.container {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-normal {
  font-weight: normal;
}

.text-grey {
  color: #a9a9a9;
}

.margin-section {
  margin-top: 50px;
}

.margin-none {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.blue-hover:hover,
.blue-hover:hover * {
  color: rgb(0, 176, 198) !important;
  fill: rgb(0, 176, 198) !important;
}

.small-icon {
  font-size: 16px !important;
}

.tab-icon {
  font-size: 20px !important;
  margin-top: 10px;
  margin-right: 5px;
}

.tab-icon-mobile {
  font-size: 30px !important;
}

.tab-icon-mobile-svg {
  height: 40px !important;
  width: 40px !important;
}

.blue-icon {
  color: #00b1c7 !important;
}

.truncate {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button-blue {
  background: white;
  border: 1px solid #35afc6;
  color: #35afc6;
  padding: 5px 20px;
}

.hover-border:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(0, 176, 198) !important;
}

.hover-border-non-padding:hover {
  border-bottom: 1px solid rgb(0, 176, 198) !important;
}

.hover-border-tab:hover::after {
  content: ' ';
  height: 3px;
  position: absolute;
  background: rgb(0, 176, 198) !important;
  bottom: -1px;
  width: 100%;
  left: 0;
}

.hover-border-span:hover span {
  padding: 0 0 5px !important;
  border-bottom: 2px solid rgb(0, 188, 212) !important;
}

.force-checked-color svg {
  color: white !important;
  fill: white !important;
}

.invert-word {
  display: inline-block;
  transform: rotateY(180deg);
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }
}
