.page-404 {
  margin: 6rem auto;
}

.page-404 .searcher {
  margin: 3rem auto;
}

.page-404 .searcher>div .container-center {
  width: 100% !important;
}

.page-404 .searcher>div .container-center input {
  width: 90% !important
}

.page-404 .searcher .search-menu {
  width: 200% !important;
  margin-left: -85% !important;
}

.page-404 h3 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: left;
}
.page-404 h4 {
  font-size: 1.2rem;
  text-align: left;
}

.back-button {
  background: #00b5c8;
  color: white;
  font-size: 1.2rem;
  padding: .6rem 1rem;
  transition: all ease .6s;
  text-decoration: none;
}

.back-button:hover {
  background: transparent;
  color: #00b5c8;
  border: thin solid #00b5c8;
}

.text-blue {
  color: #00b5c8;
}

@media screen and (max-width: 640px) {
  .page-404 {
    text-align: center;
  }
 .page-404 h3, .page-404 h4 {
   text-align: center;
 }
 .logo-404 {
   margin: -1rem auto;
   width: 70%;
 }
}
