@import '../../assets/variables.scss';

.gray-button {
  background: transparent;
  color: $dark-grey;
  cursor: pointer;
  border: thin solid $dark-grey;
  display: block;
  padding: .4rem .6rem;
  outline: none;
}

.blue-line-button {
  background: transparent;
  cursor: pointer;
  color: $primary-blue;
  border: thin solid $primary-blue;
  outline: none;
  padding: .4rem;
}

.blue-line-button:hover {
  background: $primary-blue;
  color: white;
}

.inline-block {
  display: inline-block;
}

.text-blue {
  color: $primary-blue
}

.gray-button:hover {
  background: $dark-grey;
  color: white;
}

.comparison {
  margin: 0 auto;
  margin-top: 4rem;


  .slick-slider:hover {
    .slick-arrow {
      display: block !important;
    }
  }


  .slick-arrow {
    display: none !important;
  }


  .slick-next,
  .slick-prev {
    box-shadow: none !important;
    z-index: 2;
    height: 40px;
    width: 40px;
  }

  .slick-next::before,
  .slick-prev::before {
    content: none;
  }

  .slick-next {
    right: -20px;
  }

  .slick-prev {
    left: -20px;
  }

}

.comparison-top,  .comparison-characteristics>div {
  display: flex;
  border-bottom: thin solid $light-grey;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}


.comparison-middle, .comparison-attach {
  display: flex;
  border-bottom: thin solid $light-grey;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.comparison-top-buttons, .comparison-middle-buttons, .comparison-attach-buttons {
  position: relative;
  text-align: center;
  width: 20%;
}

.comparison-top-buttons button {
  margin: 1rem auto;
  width: 50%;
}

.comparison-top-products {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.comparison-top-product {
  width: 30%;
}

.comparison-top-product img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 100%;
}

.comparison-top-product img {
  width: 70%
}

.comparison-top-product h3 {
  text-align: center;
  border-top: thin solid $light-grey;
  border-bottom: thin solid $light-grey;
  padding: .4rem 0;
  font-weight: 100;
  font-family: 'Open sans', sans-serif;
}

.comparison-top-product-feeds {
  border-bottom: thin solid $light-grey;
  padding: 0 .2rem .5rem .2rem;
}

.comparison-top-product-feed {
  text-align: left;
  margin: .3rem 0;
}
.comparison-top-product-feed>div:first-child {
  display: inline-block;
  font-size: .8rem;
  margin: 0;
  width: 35%;
}
.comparison-top-product-feed>div:last-child {
  display: inline-block;
  margin: 0;
  width: 60%;
}

.comparison-top-product-price {
  margin: .5rem 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comparison-top-product-price button {
  width: 40%;
}


.comparison-top-product-price div {
  width: 40%;
}

.comparison-top-product-price a {
  text-decoration: none;
  font-size: .9rem;
}



.comparison-middle-products, .comparison-attach-products {
  margin: 0 auto;
  width: 80%;

}



.comparison-middle-products, .comparison-middle-buttons {
  margin-top: 2rem;
}

.comparison-middle-product, .comparison-attach-product {
  position: relative;
  text-align: center;
}
.comparison-middle-product img, .comparison-attach-product img {
  display: block;
  margin: 0 auto;
  height: 110px;
  max-width: 100%;
}


.comparison-middle-product .close-button, .comparison-attach-product .close-button{
  color: $dark-grey;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.comparison-middle-product h3 {
  font-size: .8rem;
  margin: 0;
  color: $dark-grey;
  margin-bottom: 1rem;
}

.comparison-middle-ranking {
  position: relative;
  background: url('../../assets/img/laurel/laurel.png') no-repeat center center;
  height: 100px;
  span {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    top: 35px;
  }
}

.comparison-middle-price-rank {
  color: $primary-blue;
}

.comparison-middle-buttons {

}

.comparison-middle-buttons button {
  margin: .4rem auto;
  width: 50%;
}

.comparison-middle-buttons h5 {
  color: $dark-grey;
  text-align: center;
}

.comparison-middle {
  border-bottom: none;
}

.comparison-middle-buttons div {
  position: absolute;
  bottom: 5px;
  width: 100%;

  h5:first-child {
    line-height: 5;
  }

  h5:last-child {
    margin-bottom: 0;
  }

}
.comparison-characteristic-values {
  width: 80%;
}
.comparison-characteristic-labels, .comparison-characteristic-value {
  text-align: center;
  border-right: thin solid $light-grey;
  width: 20%;
}

.comparison-characteristic-value:last-child {
  border: none;
}

// .comparison-characteristic-labels {
//   width: 30%;
// }

.comparison-characteristic-labels h5 {
  color: $dark-grey;
  padding: .4rem 0;
  margin: 1.6rem auto;
}

.comparison-characteristic-value div {
  color: $dark-grey;
  padding: .4rem 0;
  margin: 1.6rem auto;
  width: 60%;
}

.comparison-characteristic-value div:first-child {
  border: thin solid $light-grey;
}

.comparison-characteristic-value div:nth-child(2) {
  border: thin dashed $light-grey;
  font-size: .8rem;
}

.comparison-characteristic-value div:last-child {

}

.comparison-characteristics-title {
  cursor:pointer;
  border-bottom: thin solid $light-grey;
  color: $dark-grey;
  font-size: 1rem;
  padding-bottom: .3rem;

}

.comparison-bottom {
  margin-top: 2rem;
}

.comparison-bottom-products {
  margin-left: 20%;
  width: 80%
}

.comparison-bottom-products h3 {
  color: $dark-grey;
  font-size: 1.3rem;
  margin: 2.5rem auto;
  text-align: center;
}

.comparison-bottom-products>div{
  display: flex;
  justify-content: center;
}

.comparison-bottom-product {
  cursor: pointer;
  text-align: center;
  width: 20%;
}


.comparison-bottom-product {
  border-right: thin solid $light-grey;
}

.comparison-bottom-product:last-child {
  border: none;
}

.comparison-bottom-product img {
  display: block;
  margin: 1rem auto;
  width: 70%;
}

.comparison-bottom-product h4 {
  margin-bottom: .4rem;
}

.comparison-bottom-product-stars, .comparison-comment-user-stars {
  margin: 0 auto;
  width: 50px;
}

.comparison-bottom-vote {
  display: flex;
  justify-content: center;
  border-top: thin solid $light-grey;
  margin-top: 2rem;
}

.comparison-bottom-vote-product {
  text-align: center;
  border-right: thin solid $light-grey;
  margin-right: 2rem;
  width: 20%;
}

.comparison-bottom-vote-product h3 {
  color: $primary-blue;
}
.comparison-bottom-vote-product h4 {
  color: $dark-grey;
  font-size: .9rem;
}

.comparison-bottom-vote-product img {
  display: block;
  margin: 0 auto;
  margin-bottom: .3rem;
  width: 70%;
}

.comparison-bottom-vote-product span {
  font-size: .8rem;
}


.comparison-bottom-vote-comment {
  width: 50%;
}



.comparison-bottom-vote-features {

}
.comparison-bottom-vote-features>div {
  margin: .4rem 0;
}
.comparison-bottom-vote-features>div>span {
  display: inline-block;
  width: 100px;
}

.comparison-bottom-vote-features>div>div {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.comparison-bottom-vote-step1 button{
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  width: 140px;
}

.comparison-comments {
  margin: 0 auto;
  margin-top: 2rem;
  width: 80%;
}

.comparison-comments-top {
  border-bottom: thin solid $light-grey;
  position: relative;
}

.comparison-comments-top>* {
  display: inline-block;
}

.comparison-comments-top h4 {
  margin-right: 2rem;
  margin-bottom: .3rem;
}

.comparison-comments-top .showing {
  font-size: .8rem;
}

.comparison-comments-top .order {
  font-size: .9rem;
  position: absolute;
  bottom: -1rem;
  right: 0;
}

.comparison-comment {
  display: flex;
  justify-content: center;
  padding: 2.5rem .4rem;
  border-bottom: thin solid $light-grey;
}

.comparison-comment:last-child {
  border: none;
}

.comparison-comment-user {
  border-right: thin solid $light-grey;
  padding-right: 2rem;
  margin-right: 3rem;
  text-align: center;
  width: 15%;
}

.comparison-comment-user h3 {
  font-size: .8rem;
}

.comparison-comment-user img {
  display: block;
  margin: 0 auto;
  margin-bottom: .2rem;
  width: 50%
}

.comparison-comment-content {
  width: 60%;
}

.comparison-comment-user h4 {
  font-size: .8rem;
  margin: .4rem auto;
}

.comparison-comment-user span {
  font-size: .7rem;
}

.comparison-comment-content-top {
  position: relative;
}

.comparison-comment-content-top h3 {
  font-size: 1rem;
}

.comparison-comment-content-top>div {
  position: absolute;
  right: 0;
  top: 0;
}

.comparison-comment-content-top>div>span {
  display: inline-block;
}

.comparison-comment-stars {
  display: inline-block;
  vertical-align: bottom;
}

.comparison-comment-content-text {
  font-size: .9rem;
  text-align: justify;
}

.comparison-comment-content-bottom {
  margin-top: .4rem;
}

.comparison-comment-content-bottom>span:first-child {
  font-size: .7rem;
  display: inline-block;
  margin-right: 2rem;
}

.comparison-comment-content-bottom>span span {
  font-size: .8rem;
}

.comparison-comments-pagination {
  border-top: thin solid $light-grey;
  position: relative;
}

.comparison-comments-pagination>span {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: .9rem;
}


.comparison-bottom-comment-author {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.comparison-bottom-comment-author img {
  text-align: left;
  width: 70px;
}

.comparison-bottom-comment-author>div {
  display: inline-block;
  vertical-align: top;
  margin-left: .5rem;
}

.comparison-bottom-comment-author h4 {
  font-style: .9rem;
  margin-bottom: .2rem;
}

.comparison-attach {
  background: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all ease .5s;

  .close-button {
    right: 5px;
    top: 5px;
  }

  .comparison-attach-product {
    border-right: thin solid $light-grey;
    h3 {
      margin-top: 0;
    }
  }

  .comparison-attach-product:last-child {
    border-right: none;
  }

  .comparison-attach-buttons {
    button {
      display: block;
      margin: 3px auto;
    }
  }

}

.comparison {
  .sticky {
    z-index: 999;
    .comparison-attach {
      height: 65px;
      opacity: 1;
    }
  }
}

.comparison-attach-product img {
  height: 40px;
}
